@import '../../../../styles/partials/core-imports';

.skill-bars {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  width: 90%;

  .skill,
  .footer {
    display: contents;
  }

  .name {
    align-self: flex-start;
    padding-right: 2rem;
    font-size: 0.8rem;
  }

  .footer,
  .bar .years {
    font-family: $font-family-small;
    font-size: 0.7rem;
  }

  .bar-container {
    flex-grow: 1;

    .bar {
      background-color: lighten($color-dark-teal, 35%);
      height: 100%;
      border: 1px solid black;

      span {
        display: block;
        margin-left: 4px;
        color: $color-black;
        font-weight: bold;
      }
    }
  }

  @include for-tablet-down {
    width: 90%;
  }

  @include for-mobile {
    width: 100%;

    .name {
      font-size: 1rem;
    }

    .footer,
    .bar .years {
      font-size: 0.9rem;
    }
  }
}
