@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Alata/Alata-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'NotoSans-Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NotoSans/NotoSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NotoSans/NotoSans-Regular.woff2) format('woff2');
}
