$vp-desktop: 1200px;
$vp-tablet-max: calc($vp-desktop - 1px);
$vp-tablet-min: 600px;
$vp-tablet-portrait-max: 900px;
$vp-mobile-max: 600px;
$vp-tiny-mobile-max: 330px;


// RESPONSIVE
@mixin for-desktop {
    @media (min-width: $vp-desktop) {
        @content;
    }
}

@mixin for-tablet {
    @media (min-width: $vp-tablet-min) and (max-width: $vp-tablet-max) {
        @content;
    }
}

@mixin for-tablet-down {
    @media (max-width: $vp-tablet-max) {
        @content;
    }
}

@mixin for-tablet-portrait-down {
    @media (max-width: $vp-tablet-portrait-max) {
        @content;
    }
}

@mixin for-mobile {
    @media (max-width: $vp-mobile-max) {
        @content;
    }
}

@mixin for-tiny-mobile {
    @media (max-width: $vp-tiny-mobile-max) {
        @content;
    }
}