@import '../../styles/partials/core-imports';

main.contact-page {
  margin-bottom: 4rem;

  .flex-container {
    display: flex;

    > div {
      width: 50%;
    }
  }

  .left {
    form {
      label,
      input,
      textarea {
        display: block;
      }

      input,
      textarea {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 100%;
        background-color: transparent;
        border: 1px solid $color-yellow;
        color: $color-light-teal;
        padding: 0.4rem;
        font-family: $font-family-default;
        letter-spacing: 2px;
        font-size: 0.8rem;

        &:hover {
          border-color: $color-pink;
        }

        &:focus {
          @extend %focus-outline;
        }
      }

      textarea {
        height: 6.5rem;
      }

      button {
        @extend %button-styles;
        margin-top: 0.8rem;
        background-color: transparent;
        color: $font-color-a;
        font-family: $font-family-small;

        &:hover {
          color: $font-color-a-hover;
        }

        &:focus {
          @extend %focus-outline;
        }
      }
    }
  }

  @include for-tablet-down {
    .flex-container > div {
      width: 80%;
    }
  }

  @include for-mobile {
    .flex-container > div {
      width: 100%;
    }
  }
}
