@import '../../../../../styles/partials/core-imports';

.connect {
  margin: auto 0;
  display: flex;

  a {
    margin-left: 0.8rem;
  }

  svg {
    transition: transform ease 0.5s;
    vertical-align: middle;
    font-size: 1.8rem;

    &:hover {
      transform: translateY(-10px);
    }
  }
}
